{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
    <h1>Card Game</h1>
    <p>Basic card game</p>
    <ul>
        <li><a href="{{ path('session_show') }}">Session Contents</a></li>
        <li><a href="{{ path('session_delete') }}">Delete Session</a></li>
        <li><a href="{{ path('card_deck') }}">Reset Deck</a></li>
        <li><a href="{{ path('card_shuffle_page') }}">Shuffle Deck</a></li>
        <li><a href="{{ path('card_draw') }}">Draw Card</a></li>
        <li><a href="{{ path('card_draw_number', {'number': 2}) }}">Draw 2 Cards</a></li>
    </ul>
{% endblock %}
