{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
    <h1>Card Game</h1>
    <div class="game-container">
        <div class="links-column">
        <ul>
            <li><a href="{{ path('session_show') }}">Session Contents</a></li>
            <li><a href="{{ path('session_delete') }}">Delete Session</a></li>
            <li><a href="{{ path('card_deck') }}">Sorted Full Deck</a></li>
            <li><a href="{{ path('card_shuffle') }}">Shuffle Full Deck</a></li>
            <li><a href="{{ path('card_draw') }}">Draw 1 Card</a></li>
            <li>
                <form method="post" action="{{ path('card_draw_number', {'number': 'placeholder'}) }}" id="drawForm" class="draw-form">
                    <label for="number">Draw multiple cards:</label>
                    <input type="number" name="number" id="number" class="number-input" min="1" max="52">
                    <input type="submit" name="do_it" value="Draw">
                </form>
                <script>
                    document.getElementById('drawForm').addEventListener('submit', function() {
                        var numberValue = document.getElementById('number').value;
                        this.action = this.action.replace('placeholder', numberValue);
                    });
                </script>
            </li>
        </ul>
        </div>
        <div class="content-column">
            {{ include('flash.html.twig') }}
            <h2>Klasser</h2>
            <p>
                Card (App\Card\Card):
                Denna klass representerar ett spelkort med ett numeriskt värde. 
                Klassen innehåller metoder för att få fram kortets värde och dess strängrepresentation.
                </p>
            <p>
                CardGraphic (App\Card\CardGraphic):
                CardGraphic ärver från Card-klassen, den returnerar en grafisk representationen baserat på kortets värde.
                </p>
            <p>
                DeckOfCards (App\Card\DeckOfCards):
                Genererar en kortlek med hjälp av instanser av CardGraphic.
                Metoden generateDeck() skapar och returnerar en hel kortlek.
                </p>
            <p>
                CardHand (App\Card\CardHand):
                Representerar en hand med kort, tillåter användaren att lägga till kort i handen, "rolla" handen och hämta kortvärden och strängrepresentationer.
                CardHand innehåller en samling av Card-objekt, vilket innebär att existensen av ett CardHand-objekt är beroende av att det finns Card-objekt (Composition).
                </p>
        </div>
    </div>
{% endblock %}

