{% extends "base.html.twig" %}

{% block title %}APIs{% endblock %}

{% block main %}
    <h1>APIs</h1>
    <p>Tillgängliga JSON routes:</p>
    <div class="links-column">
        <ul>
            <li><a href="{{ path('api_lucky_number') }}">API Lucky Number</a></li>
            <li><a href="{{ path('api_quote') }}">API Quote</a></li>
            <li><a href="{{ path('api_deck') }}">API Full Sorted Deck</a></li>
            <li><a href="{{ path('api_deck_shuffle') }}">API Full Shuffle Deck</a></li>
            <li><a href="{{ path('api_deck_draw') }}">API Draw 1 Card</a></li>
            <li><a href="{{ path('api_deck_draw_multiple', { 'number': 5 }) }}">API Draw Multiple Cards</a></li>
            <li><a href="{{ path('api_deck_deal', {'players': '3', 'cards': '5'}) }}">API Deal Cards</a></li>
            <li><a href="{{ path('api_game') }}">API BlackJack Game</a></li>
            <li><a href="{{ path('api_library_books') }}">API Library Books</a></li>
            <li><a href="{{ path('api_library_book', {'isbn': '978-7-536-69293-0'}) }}">API Three Body Problem</a></li
        </ul>
    </div>
{% endblock %}
