{% extends 'texas/base.html.twig' %}

{% block title %}Texas Hold'em{% endblock %}

{% block main %}
    <h1>Texas Hold'em</h1>

    {% if isGameOver %}
        <div class="winner-announcement">
            <h2>Round Over</h2>
            <h1>Winner:</h1>
            {% for winner in winners %}
                <p>{{ winner.getName }} wins {{ game.getPotManager().getPot() }} chips and now has {{ winner.getChips() }} chips in total.</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="game-info">
        <h2>Pot: {{ game.getPotManager().getPot() }}</h2>
    </div>

    <div class="community-cards-container">
        <div class="community-cards">
            <h2>Community Cards</h2>
            <div class="cards">
                {% for card in game.getCommunityCardManager().getCommunityCards() %}
                    <img class="card-image" src="{{ asset(card.getAsString()) }}" alt="Card">
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="players">
        {% for player in game.getPlayers() %}
            <div class="player">
                <h2>{{ player.getName() }}</h2>
                {% set action = game.getActions()[player.getName()] | default('No action yet') %}
                {% if player.isFolded() %}
                    <p>Folded</p>
                    <div class="cards">
                        {% for card in player.getHand() %}
                            <img class="card-image" src="{{ asset(card.getUnturned()) }}" alt="Card">
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="cards">
                        {% for card in player.getHand() %}
                            <img class="card-image" src="{{ asset(card.getAsString()) }}" alt="Card">
                        {% endfor %}
                    </div>
                {% endif %}
                <p>Chips: {{ player.getChips() }}</p>
                <p>Took action: {{ action }}</p>
            </div>
        {# Dump the evaluated hand and rank #}
            {% set bestHand = game.getHandEvaluator().getBestHand(player.getHand() | merge(game.getCommunityCardManager().getCommunityCards())) %}
            <p>Best Hand: {{ bestHand.rank }}</p>
            <p>Values: {{ bestHand.values|join(', ') }}</p>
            {{ dump(bestHand) }}
        {% endfor %}
    </div>
{{ dump(game.getActions()) }}


    <div class="actions">
        {% if isGameOver %}
            {% if game.getPlayers()[0].getChips() >= 20 %}
                <form method="post" action="{{ path('proj_new_round') }}">
                    <button type="submit">Start New Round</button>
                </form>
            {% endif %}
            <a href="{{ path('proj_start') }}">Start New Game</a>
        {% else %}
            <h2>Your Actions</h2>
            {% if game.getPlayers()[0].getChips() > 0 %}
                <div class="action-buttons">
                    <form method="post" action="{{ path('proj_play') }}">
                        <input type="hidden" name="action" value="call">
                        <button type="submit">Call</button>
                    </form>
                    <form method="post" action="{{ path('proj_play') }}">
                        <input type="hidden" name="action" value="raise">
                        <input type="number" id="raiseAmount" name="raiseAmount" min="1" max="{{ minChips }}" required>
                        <button type="submit">Raise</button>
                    </form>
                    <form method="post" action="{{ path('proj_play') }}">
                        <input type="hidden" name="action" value="check">
                        <button type="submit">Check</button>
                    </form>
                    <form method="post" action="{{ path('proj_play') }}">
                        <input type="hidden" name="action" value="fold">
                        <button type="submit">Fold</button>
                    </form>
                    <form method="post" action="{{ path('proj_play') }}">
                        <input type="hidden" name="action" value="all-in">
                        <button type="submit">All-In</button>
                    </form>
                </div>
            {% else %}
                <p>You are all-in. Waiting for other players...</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
