{% extends 'base.html.twig' %}

{% block title %}All Books{% endblock %}

{% block main %}
    <h1>All Books</h1>
    <div class="library">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.isbn }}</td>
                        <td><a href="{{ path('book_by_id', {'bookid': book.id}) }}">View Details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <a href="{{ path('book_create') }}" class="btn btn-primary">Add New Book</a>
    <a href="{{ path('library_reset') }}" class="btn btn-primary">Reset Library</a>
{% endblock %}

