{% extends 'base.html.twig' %}

{% block title %}All Books{% endblock %}

{% block main %}
    <h1>All Books</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.isbn }}</td>
                    <td><a href="{{ path('book_by_id', {'id': book.id}) }}">View Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('book_create') }}">Add New Book</a>
{% endblock %}
