{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block main %}
    <h1>{{ book.title }}</h1>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Description:</strong> {{ book.description }}</p>
    <br>
    {% if book.bookimage %}
        <img src="{{ asset('img/' ~ book.bookimage) }}" alt="{{ book.title }} Image Preview">
    {% endif %}
    <br><br>
    <p>
    <a href="{{ path('book_show_all') }}" class="btn btn-primary">Back to All Books</a>
    <a href="{{ path('book_update', {'bookid': book.id}) }}" class="btn btn-warning">Update</a>
    <a href="{{ path('book_delete_by_id', {'bookid': book.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this book?')">Delete</a>
    </p>

{% endblock %}


